=content_for :title_bar do
  Resend confirmation instructions

%p &nbsp;
.container
  .row
    .col-md-4
      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|


        -resource.errors.full_messages.each do |m|
          .alert.alert-danger{ :role => 'alert' }
            =m

        .form-group{ :class => form_group_class(resource, :email) }
          = f.label :email, class: 'control-label'
          = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control'
          = help_blocks resource, :email
        .form-group
          = f.submit "Resend confirmation instructions", class: 'btn btn-primary'
    .col-md-4
      = render "devise/shared/links"
