=content_for :page_title do
  -if administrator_signed_in?
    Author
  -else
    My profile

.container.container-default
  .row
    .col-md-3
      %table.table
        %tr
          %th First name
          %td= @author.first_name
        %tr
          %th Last name
          %td= @author.last_name
        %tr
          %th Email
          %td= @author.email
        %tr
          %th Username
          %td= @author.username
        %tr
          %th Phone number
          %td= @author.phone_number
        %tr
          %th OK to contact me
          %td
            -if @author.contactable?
              &#x2713;
            -else
              &#x2715;
    -if administrator_signed_in?
      .col-md-2.btn-stack
        =render 'shared/approval_buttons', resource: @author
  -if can? :index, Author
    .row
      .col-md-6
        =link_to 'Back', authors_path, class: 'btn btn-default'
