=content_for :page_title do
  -if administrator_signed_in?
    Author
  -else
    My profile

.container.container-default
  .row
    .col-md-3
      %table.table
        %tr
          %th First name
          %td= @author.first_name
        %tr
          %th Last name
          %td= @author.last_name
        %tr
          %th Email
          %td= @author.email
        %tr
          %th Username
          %td= @author.username
        %tr
          %th Phone number
          %td= @author.phone_number
        %tr
          %th OK to contact me
          %td
            -if @author.contactable?
              &#x2713;
            -else
              &#x2715;
    -if administrator_signed_in?
      .col-md-2.btn-stack
        -unless @author.accepted?
          =button_to 'Accept', accept_author_path(@author), method: :patch, class: 'btn btn-success btn-block', title: "Click here to approve this author's account."
        -unless @author.rejected?
          =button_to 'Reject', reject_author_path(@author), method: :patch, class: 'btn btn-danger btn-block', title: "Click here to reject this author's account."
