=content_for :page_title do
  My profile

.container.container-default
  .row
    .col-md-6
      %table.table
        %tr
          %th First name
          %td= @user.first_name
        %tr
          %th Last name
          %td= @user.last_name
        %tr
          %th Email
          %td= @user.email
        %tr
          %th Username
          %td= @user.username
        %tr
          %th Phone number
          %td= @user.phone_number
        %tr
          %th OK to contact me
          %td
            -if @user.contactable?
              &#x2713;
            -else
              &#x2715;
        %tr
          %th Receive emails from Crowdscribed
          %td
            -if @user.unsubscribed?
              &#x2715;
            -else
              &#x2713;
  -if can? :update, @user
    =link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary', title: 'Click here to edit.'
