=content_for :page_title do
  Payment

.container.container-default
  .row
    .col-md-4
      %table.table
        %tr
          %th Amount
          %td= number_to_currency @payment.amount
        %tr
          %th State
          %td= @payment.state
        %tr
          %th External ID
          %td= @payment.external_id
        %tr
          %th Date
          %td= format_date_time @payment.created_at
      =link_to 'Back', @back_path, class: 'btn btn-primary', title: @back_tool_tip
      -if @payment.can_refund?
        =link_to 'Refund', refund_admin_payment_path(@payment), method: :patch, class: 'btn btn-danger', title: 'Click here to refund this payment.', 'data-confirm' => 'Are you sure you want to refund this payment?'
      -if @payment.approved?
        =link_to 'Refresh', refresh_admin_payment_path(@payment), method: :patch, class: 'btn btn-default', title: 'Click here to see if the payment has settled.'
  .row
    .col-md-12
      %h2 Transactions
      %table#transactions-table.table.table-striped
        %tr
          %th Intent
          %th State
        -@payment.transactions.each do |transaction|
          %tr
            %td= transaction.intent
            %td= transaction.state
          %tr
            %td{ colspan: 2 }
              %pre.payment-detail
                -if transaction.response.start_with? '---'
                  =transaction.response
                -else
                  =JSON.pretty_generate(JSON.parse(transaction.response))
