=content_for :page_title do
  Campaign for
  %i= @campaign.book.approved_version.title

.container.container-default
  .row
    .col-md-6
      %h2 Progress
      =render 'campaigns/progress_table', campaign: @campaign
      %h2 Contributions
      %table#contributions-table.table.table-striped
        %tr
          %th Contributor
          %th Date
          %th Amount
          %th Status
          %th &nbsp;
        -@contributions.each do |contribution|
          %tr{ class: contribution_row_class(contribution) }
            %td= contribution.email
            %td= format_date_time(contribution.created_at)
            %td= number_to_currency(contribution.amount, precision: 0)
            %td= contribution.state
            %td
              -if contribution.payments.any?
                =link_to admin_payment_path(contribution.payments.first), class: 'btn btn-xs btn-info', title: 'Click here to view payment details.' do
                  %span.glyphicon.glyphicon-zoom-in{ 'arial-hidden' => true }
      =will_paginate @contributions, renderer: BootstrapPagination::Rails
    .col-md-6
      =render_progress_meter @campaign.current_progress
