=content_for :page_title do
  Campaign for
  %i= @campaign.book.approved_version.title

.container.container-default
  .row
    .col-md-6
      %h2 Progress
      =render 'campaigns/progress_table'
      %h2 Donations
      %table#donations-table.table.table-striped
        %tr
          %th Donor
          %th Date
          %th Amount
          %th Status
        -@campaign.donations.each do |donation|
          %tr{ class: donation_row_class(donation) }
            %td= donation.email
            %td= format_date(donation.created_at)
            %td= number_to_currency(donation.amount, precision: 0)
            %td= donation.state
    .col-md-6
      =render_progress_meter @campaign.current_progress
