:css
  .text-right {
    text-align: right;
  }
%h1 Campaign Progress: #{@campaign.book.approved_version.title}

%table
  %tr
    %th.text-right Total collected:
    %td.text-right= number_to_currency(@campaign.total_donated, precision: 0)
  %tr
    %th.text-right Goal:
    %td.text-right= number_to_currency(@campaign.target_amount, precision: 0)
  %tr
    %th.text-right Still needed:
    %td.text-right= number_to_currency(@campaign.donation_amount_needed, precision: 0)
  %tr
    %th.text-right Days remaining:
    %td.text-right= @campaign.days_remaining
%p
  =link_to 'Click here', campaign_url(@campaign)
  for more details.
