=content_for :page_title do
  User

.container.container-default
  .row
    .col-md-3
      %table.table
        %tr
          %th First name
          %td= @user.first_name
        %tr
          %th Last name
          %td= @user.last_name
        %tr
          %th Email
          %td= @user.email
        %tr
          %th Username
          %td= @user.username
        %tr
          %th Phone number
          %td= @user.phone_number
        %tr
          %th OK to contact me
          %td
            -if @user.contactable?
              &#x2713;
            -else
              &#x2715;
    .col-md-2.btn-stack
      =render 'shared/approval_buttons', resource: @user
  .row
    .col-md-6
      =link_to 'Back', users_path, class: 'btn btn-default'
